h1 {
  color: red; /*tag*/
}
#my {
  color: blue; /*id*/
}
.my-i {
  font-size: 36px;
  color: rgb(0, 102, 0, 0.5);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold; /*class*/
}
.label {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}
#Register {
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  font-weight: bold;
}
.button {
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  .button:hover {background: rgb(143, 37, 37);}
  